*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.min-vh-90{
    min-height: 90vh;
}
.fs-180{
    font-size: 180px;
}
.fs-120{
    font-size: 120px;
}
.text-justify{
    text-align: justify;
}